@import url(responsive.scss);

@media (max-width: 600px) {
  .services {
    text-align: center;
  }
  .service {
    display: block;
  }
  .skill img {
    height: 100px;
    width: 100px;
  }
  header {
    height: (60px/2) *20;
  }
  .header_text {
    width: 300px;

  }
  .header_text h1 {
    font-size: 30px;
  }
  .header_text p,a{
    font-size: 18px;
  }
  .action_button  {
    box-sizing: border-box;
    
    
  }
  
  
  
  .wave_two {
    margin-top: 26px;
  }
  .btn-menu{
    display: block;
    height: 50px;
    float: right;
    margin-top: 10px;
  }
  .line {
    background-color: #fff;
    width: 35px;
    height: 3px;
    margin: 10px;
  }
  .navigacija ul li a {
    display: none;
  }
  .btn:after .navigacija ul li a {
    content: '';
    display: block;
  }
  #lap-top{
    margin-top: -13em;
  }
  #lap-top img{
    height: 300px;
    width: 300px;
  
    z-index: 5;
    .waves_blok{
      padding-top: 150px;
    }
    
}
.service{
  width: 50%;
  p{
    width: fit-content;
  }
}
.about-me-blok{
  flex-direction: column-reverse;
}
#me img{
  height: 300px;
  width: 150px;
}
#text-about-me {
  font-size: 18px;
  width: 250px;
  margin-bottom: 30px;
}

.skill{
  width: 70%!important;

}

.projects-wrapper{
  flex-direction: column;
.projects-img{
  img{
    width: 200px ;
    height: 150px ;
  }
}
}
.testimonials-block{
  flex-direction: column;
  .inner-block{
    margin: 1em !important;
    width: fit-content !important;
    p{
      width: 350px;
    }
  }
}
}


  



@media (min-width: 601px) {
  #lap-top{
    margin-top: -11em;
    
  }

  #lap-top img{
    width: 350px;
    height: 350px;
    z-index: 3;
  }
  .waves_blok{
    padding-top: 50px;
  }
  .service{
    width: 50%;
    p{
      width: 70%;
    }
  }
  .skill{
    width: 70%!important;
  
  }
  .wave_two{
    margin-top: 15px;
  }
  .projects-wrapper{
    flex-direction: column;
  
}
.testimonials-block{
  flex-direction: column;
  .inner-block{
    p{
      width: 350px;
    }
  }
}
}
@media(max-width:767px){
  .about-me-blok{
    flex-direction: column-reverse;
  }
}
@media (min-width:768px){
  #lap-top{
    margin-top: -13em;
  }
  .waves_blok{
    padding-top: 100px;
  }
  .services{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  .service{
    width: 40%;
  }

.skill{
  width: 40%!important;

}
.projects-img{
  img{
    width: 300px;
    height: 150px;
  }
}
.projects-wrapper{
  flex-direction: row;
  .project-blok{
    margin: 20px auto;
  }
}
.testimonials-block{
  flex-direction: row;
  .inner-block{
    p{
      width: 350px;
    }
  }
  }
  .projects-img{
    
    img{
      width: 250px ;
      height: 150px ;
    }
  }
}
@media(max-width:1023px){
  .project-blok{
    margin: 20px auto;
    .projects-img{
    
      img{
        width: 250px ;
        height: 150px ;
      }
    }
  }
}
@media (min-width:1024px){
  #lap-top{
    margin-top: -16em;
  }
 
  .waves_blok{
    padding-top: 50px;
  }
  .service{
    width: 40%;
  }
  .services{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: stretch;
  }
  .skill{
    width: 40%!important;
  
  }
  .testimonials-block{
    flex-direction: row;
    .inner-block{
      margin: 30px;
      width: fit-content !important;
      p{
        width: 650px;
      }
    }
  }
  .projects-img{
    
    img{
      width: 250px ;
      height: 150px ;
    }
  }
}

@media (min-width:1224px){
  #lap-top{
    margin-top: -17em;
  }
  .service{
    width: 15%;
    p{
      width: 60%;
    }
    
  }
  .services{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: stretch;
  }
  .skill{
    width: 15%!important;
  
  }
  .inner-block{
    width: 30%;
  }
}
@media (min-width:1424px){
  #lap-top{
    margin-top: -22em;
  }
  .service{
    width: 17%;
    p{
      width: 50%;
    }
  }
  .projects-img{
    
    img{
      width: 350px ;
      height: 250px ;
    }
  }
}
@media (min-width:1624px){
  #lap-top{
    margin-top: -25em;
  }
  
}
@media (max-width: 1040px) {
  .projects-img{
    
    img{
      width: 250px ;
      height: 150px ;
    }
  }
}

@media(min-width: 1050px){
  .projects-img{
    
    img{
      width: 300px ;
      height: 200px ;
    }
  }
}
@media (min-width: 1080px) {
  .projects-img{
    
    img{
      width: 350px ;
      height: 250px ;
    }
  }
}

