@import url(responsive.scss);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cleaner {
  clear: both;
}

p, a {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 40vh;
  width: 100%;
  background-color: #064472;
  position: relative;
  overflow: visible;
}

header ul {
  padding: 20px;
}

header .logo {
  float: left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin: 20px;
}

header .logo img {
  width: 50px;
  height: 30px;
}

.first_letter {
  color: #fff;
}

.second_letter {
  color: #1D80DB;
}

nav {
  text-align: end;
}

.navigacija ul {
  margin-right: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.navigacija ul li {
  padding: 10px;
}

.navigacija ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigacija ul li a:hover {
  color: #A8CEFF;
  -webkit-transition: .3s;
  transition: .3s;
}

.header_text {
  position: relative;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_text h1 {
  color: #A8CEFF;
  font-size: 60px;
}

.header_text p {
  color: #fff;
}

.waves_blok {
  background-color: #064472;
  margin-top: -2px;
}

.waves_blok .wave_one {
  position: absolute;
  margin-top: 40px;
  z-index: 3;
}

.waves_blok .wave_two {
  background-color: #064472;
  z-index: 2;
}

.blok1 {
  position: relative;
  margin-top: 10px;
}

.blok1 h1 {
  color: #000;
}

.action_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.action_button .contact_button, .action_button .cv_button {
  padding: 10px 10px;
  text-align: center;
  margin: 1em;
  width: 150px;
  background-color: #1D80DB;
  cursor: pointer;
  color: #fff;
  position: relative;
}

.action_button .contact_button:hover, .action_button .cv_button:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: .3s;
  transition: .3s;
}

.action_button .contact_button:active, .action_button .cv_button:active {
  padding: 10px 10px;
  text-align: center;
  margin: 1em;
  width: 150px;
  background-color: #2769a7;
  cursor: pointer;
  color: #fff;
  position: relative;
}

.action_button .contact_button a, .action_button .cv_button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#lap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-heading h2 {
  text-align: center;
  color: #1D80DB;
  padding-top: 3em;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5em;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-effect img {
  width: 100px;
  height: 100px;
}

.service {
  display: block;
  -webkit-box-shadow: 0 4px 4px 4px #ddd;
          box-shadow: 0 4px 4px 4px #ddd;
  border-radius: 10px;
  width: 20%;
  margin: 1%;
  text-align: center;
  margin-bottom: 50px;
}

.service h3 {
  margin: 10px 0 20px 0;
  color: #1D80DB;
  padding: 20px 0 0 0;
}

.service-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-text p span {
  color: #064472;
}

.service p {
  width: 250px;
  margin: auto;
  padding-bottom: 10px;
}

.img-effect {
  margin: 30px auto;
  margin-top: 0;
  padding-top: 30px;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-color {
  background-color: #1D80DB;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.about-me {
  width: 75%;
  background-color: #fff;
  margin: auto;
  border-top: 10px solid #1D80DB;
  border-bottom: 10px solid #1D80DB;
  -webkit-box-shadow: 0 6px 6px 6px #ddd;
          box-shadow: 0 6px 6px 6px #ddd;
  margin-bottom: 30px;
}

.about-me .about-me-heading h2 {
  text-align: center;
  padding: 20px;
  color: #1D80DB;
}

.about-me .about-me-paragraph {
  text-align: center;
  margin-top: -15px;
  color: #000;
}

.about-me .about-me-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  gap: 20%;
}

#me .border {
  width: 250px;
  height: 300px;
  border: 10px solid #1D80DB;
  position: absolute;
  margin-top: 20px;
  z-index: 2;
}

#me img {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 14px -12px 0 4px #1D80DB;
          box-shadow: 14px -12px 0 4px #1D80DB;
}

#text-about-me {
  display: block;
}

#text-about-me .line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#text-about-me .line1 h3 {
  color: #1D80DB;
  margin-right: 20px;
}

#text-about-me .line1 .paragraph {
  width: 250px;
  text-align: center;
  margin-left: auto;
}

#text-about-me .line1 .paragraph p {
  color: #000;
  text-align: start;
}

.skills-header h2 {
  text-align: center;
  color: #1D80DB;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-content .skill {
  display: block;
  -webkit-box-shadow: 0 4px 4px 4px #ddd;
          box-shadow: 0 4px 4px 4px #ddd;
  border-radius: 10px;
  width: 20%;
  margin: 1%;
  text-align: center;
  margin-bottom: 50px;
}

.skills-content .skill h3 {
  padding: 2em;
  text-align: center;
  background-color: #1D80DB;
  border-radius: 10px 10px 0 0;
  color: #A8CEFF;
}

.skills-content .skill p {
  padding: 2em;
}

.projects h2 {
  text-align: center;
  margin-top: 20px;
  color: #1D80DB;
}

.projects .projects-wrapper .project-blok:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: .2s;
  transition: .2s;
}

.projects .projects-wrapper .project-blok .btn {
  padding: 10px 10px;
  text-align: center;
  margin: 1em;
  width: 150px;
  background-color: #1D80DB;
  cursor: pointer;
  color: #fff;
  position: relative;
  text-align: center;
  margin: auto;
  color: #fff;
  margin: 30px auto;
  background-color: #1D80DB;
  border: 3px solid transparent;
}

.projects .projects-wrapper .project-blok .btn:hover {
  background-color: #fff;
  border: 3px solid #1D80DB;
  -webkit-transition: .3s;
  transition: .3s;
  color: #1D80DB;
}

.projects .projects-wrapper .project-blok .btn p i {
  margin-left: 10px;
}

.projects .projects-wrapper .project-blok .btn:hover i {
  padding-left: 12px;
  -webkit-transition: .3s;
  transition: .3s;
}

.project-header3 {
  text-align: center;
  margin-top: 20px;
}

.projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-wrapper .project-blok {
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px 3px #ddd;
          box-shadow: 0 3px 3px 3px #ddd;
}

.projects-wrapper .project-blok .projects-img img {
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
}

.projects-wrapper .project-blok .description-text {
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #A8CEFF;
  margin: 10px auto;
  border-radius: 10px;
  padding: 3px;
}

.projects-wrapper .project-blok .btn {
  padding: 10px 10px;
  text-align: center;
  margin: 1em;
  width: 150px;
  background-color: #1D80DB;
  cursor: pointer;
  color: #fff;
  position: relative;
  margin: 1em auto;
}

.description-text1 .description-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description-text1 .description-img img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

hr {
  margin: auto;
  width: 120px;
  height: 5px;
  background-color: #1D80DB;
  outline: none;
  border: none;
}

.testimonials .testimonials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.testimonials h2 {
  color: #1D80DB;
  text-align: center;
  margin-top: 20px;
}

.testimonials p {
  text-align: center;
}

.testimonials .testimonials-block {
  width: 400px;
  height: 300px;
  display: block;
  margin: 50px auto;
  -webkit-box-shadow: 0 4px 4px 4px #ddd;
          box-shadow: 0 4px 4px 4px #ddd;
  border-radius: 10px;
}

.testimonials .testimonials-block:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: .2s;
  transition: .2s;
}

.testimonials .testimonials-block .testimonials-bottom-border {
  border-bottom: 1px solid #ddd;
}

.testimonials .testimonials-block .client-profile {
  text-align: center;
}

.testimonials .testimonials-block .client-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: -45px auto 20px;
  -webkit-box-shadow: 0 2px 2px 2px #ddd;
          box-shadow: 0 2px 2px 2px #ddd;
}

.testimonials .testimonials-block .client-quote {
  padding: 20px;
  min-height: 110px;
}

.testimonials .testimonials-block .client-quote p {
  z-index: 6;
  position: relative;
}

.testimonials .testimonials-block .client-quote i {
  font-size: 60px;
  position: absolute;
  margin-top: -20px;
  z-index: 4;
  color: #A8CEFF;
}

.testimonials .client-name {
  text-align: center;
  font-family: 'Montserrat';
  padding: 15px;
}

.testimonials .client-name h3 {
  color: #1D80DB;
  font-size: 26px;
}

.contact {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 100px;
}

.contact-wrapper {
  max-width: 850px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 0 4px 4px 4px #ddd;
          box-shadow: 0 4px 4px 4px #ddd;
}

.contact-wrapper .contact-me-block {
  background-color: #1D80DB;
  height: 100%;
  color: #fff;
}

.contact-wrapper .contact-me-block img {
  width: 300px;
  height: 300px;
  margin-top: 50px;
}

.contact-wrapper .contact-me-block h2 {
  position: relative;
  text-align: center;
  padding-top: 10px;
}

.contact-wrapper .input-block {
  padding: 25px 40px;
}

.contact-wrapper .input-block .field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  -webkit-transition: .2s;
  transition: .2s;
  border: 3px solid transparent;
}

.contact-wrapper .input-block .field:focus {
  border: 3px solid #1D80DB;
}

.contact-wrapper .input-block textarea {
  min-height: 150px;
  resize: none;
}

.contact-wrapper .input-block .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-wrapper .input-block .btns i {
  font-size: 30px;
  color: #1D80DB;
  cursor: pointer;
}

.contact-wrapper .input-block .btns .btn-contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: #1D80DB;
  color: #fff;
  font-size: 15px;
  float: right;
  margin: 10px;
  border: 3px solid #1D80DB;
  cursor: pointer;
}

.contact-wrapper .input-block .btns .btn-contact i {
  color: #fff;
}

.contact-wrapper .input-block .btns .btn-contact:hover {
  border: 3px solid #1D80DB;
  background-color: #fff;
  color: #1D80DB;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact-wrapper .input-block .btns .btn-contact:hover i {
  color: #1D80DB;
}

.contact-wrapper .input-block .btns .btn-contact i {
  margin-left: 10px;
  font-size: 15px;
}

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  background-color: #1D80DB;
  color: #fff;
  margin-top: 10px;
}

footer a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */